<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding" transferMode="Streamed" maxReceivedMessageSize="33554432" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="WCFClient" address="net.tcp://localhost:8090/WcfServer" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="Common.Contracts.IConsumptionService">

      </endpoint>
    </client>
  </system.serviceModel>
</configuration>