<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding" transferMode="Streamed" maxReceivedMessageSize="33554432"></binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WCFServer.Services.ConsumptionService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="Common.Contracts.IConsumptionService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/WCFServer"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="ForecastDeviationPct" value="10" />
    <add key="OutOfBandPct" value="15" />
    <add key="RiseWindowDays" value="3" />
    <add key="RiseThresholdMWh" value="50" />
  </appSettings>
</configuration>